.droptarget {
    float: left; 
    height: 350px;
    margin: 15px;
    padding: 10px;
    width:87%;
    margin-left:6%;
    border:2px dashed #F7EEEE;
    border-radius:5px;
}
.track_title {
    border-radius: 2em;
    border: 0.1em solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 1vmin;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    margin: 10px auto;
    list-style-type: none;
    text-align: center;

}
.wrap {
    margin-left:20px;
}
.box {
    width:30%;
    height:450px;
    float:left;
    background-color:white; 
    margin:25px 15px;
    border-radius:5px;
    font-size: 0.8rem;
}
.box h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight:normal;
    text-align:center;
    padding-top:5px;
    color:#fff;
}
.box1 {
    background: $brand-primary;
}

.shadow1 {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.shadow1 h3 {
    width:87%;
    height:50px;
    margin-left:6%;
    border:2px dashed #F7EEEE;
    border-radius:5px;
}
.shadow1:before, .shadow1:after {
    position:absolute;
    content:"";
    bottom:12px;left:15px;top:80%;
    width:45%;
    background:#9B7468;
    z-index:-1;
    -webkit-box-shadow: 0 20px 15px #9B7468;
    -moz-box-shadow: 0 20px 15px #9B7468;
    box-shadow: 0 20px 15px #9B7468;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
.shadow1:after {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    right: 15px;left: auto;
}


/** Buttons **/
.btn_spotify {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid $brand-primary;
    color: $brand-primary;
    cursor: pointer;
    font-size: 1.3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    margin: 0 auto 100px auto ;
    
}

.btn_spotify:hover {
    background: $brand-primary;
    color: #333;
}
  
  